# Simple configuration for Ratival Projects (Golang Backend)

APP_URL=http://localhost:5173
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_NAME=

JWT_SECRET="your-secret-key"
RESEND_FROM=<no-reply>@example.com

RESEND_API_URL="your-api-key"
